# Required packages
In order for this script to run, the following packages must firstly be installed:
- spacy
- vaderSentiment
- spacytextblob
- pandas
- tqdm

Further, the spacy nlp model used must be downloaded in the following way:
- python -m spacy download en_core_web_sm
